/* Fonts */
.sixtyfour-convergence-font {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0,
        "XELA" 0,
        "YELA" 0;
}

/* Global Styles */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: rgba(0, 0, 0, 0);
    font-family: "Source Sans Pro", sans-serif;
    height: 100%;
    letter-spacing: 1px;
}

html body {
    background: #f0f0f0;
    color: #000;
    min-height: 100%;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    padding: 0;
    position: relative;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    color: #432d2d;
    text-decoration: none;
}

a:hover,
a:visited:hover,
a:hover:hover,
a:active:hover,
a:focus:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background: #f9f9f9;
    color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    font-size: 1.8rem;
    margin: 0 auto;
    padding-top: 14px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: -10px;
    color: #a13e3e;
}

/* Main Content Styles */
main {
    padding-top: 50px;
    padding-bottom: 50px;
}

main .main-content {
    margin: 0 auto;
    max-width: 600px;
    padding: 60px 20px 0;
}

.main-content.shows h3 {
    margin-bottom: 10px;
}

.main-content.shows h4 {
    border-bottom: 2px #432d2d;
    margin: 38px 0 18px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.main-content.shows .show-info {
    font-size: .9rem;
}

.center {
    text-align: center;
}

.image-header {
    max-height: 300px;
    overflow: hidden;
}

.hero-banner {
    background: #B99682;
    position: relative;
}

.hero-banner .hero-banner-image {
    background: url('./assets/images/hero.png');
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 600px;
    width: 100%;
}

/* Footer Styles */

.footer-content {
    margin: 0;
}

.showlists {
    margin-top: 50px;
}
